@model IEnumerable<Firma.Data.Data.Sklep.Rodzaj>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Sklep" asp-action="Index" asp-route-id="@item.IdRodzaju">@item.Nazwa</a>
            </li>
        }
    </ul>
</div>